<div class="pt-1">
  <mat-card class="start-card pt-1">
    <mat-card-title>ImageCropper for Angular</mat-card-title>
    <button
      class="help"
      color="primary"
      mat-icon-button
      matTooltip="{{ 'imgCropper.help' | translate }}"
      (click)="sendHelp()"
    >
      <mat-icon>help_outline</mat-icon>
    </button>
    <button
      class="language"
      color="primary"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="language icon-button"
      matTooltip="{{ 'imgCropper.languageSettings' | translate }}"
    >
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="useLanguage('en')">English</button>
      <button mat-menu-item (click)="useLanguage('de')">Deutsch</button>
    </mat-menu>
    <mat-card-subtitle></mat-card-subtitle>
    <label for="file" class="label" matTooltip="{{ 'imgCropper.chooseTooltip' | translate }}">{{
      'imgCropper.choose' | translate
    }}</label>
    <input type="file" id="file" style="display: none" (change)="fileChangeEvent($event)" />

    <br />
    <br />
    <div class="buttonbox pl-5">
      <button
        mat-raised-button
        class="button rotationButton"
        matTooltip="{{ 'imgCropper.rotateLeft' | translate }}"
        color="primary"
        (click)="rotateLeft()"
      >
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button
        mat-raised-button
        class="button rotationButton"
        matTooltip="{{ 'imgCropper.rotateRight' | translate }}"
        color="primary"
        (click)="rotateRight()"
      >
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
    <div class="buttonbox pl-5">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'imgCropper.rotation' | translate }}</mat-label>
          <input
            matInput
            #rotate
            [value]="rotation"
            matTooltip="Manually rotation in degree"
            placeholder="  +/- X°"
            type="number"
            (keyup)="updateRotation($event)"
          />
        </mat-form-field>
      </form>
    </div>
    <div class="buttonbox pl-5">
      <button
        mat-raised-button
        class="button"
        matTooltip="{{ 'imgCropper.horizontal' | translate }}"
        color="primary"
        (click)="flipHorizontal()"
      >
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button
        mat-raised-button
        class="button"
        matTooltip="{{ 'imgCropper.vertical' | translate }}"
        color="primary"
        (click)="flipVertical()"
      >
        <mat-icon>swap_vert</mat-icon>
      </button>
      <br />
      <br />
      <button
        mat-raised-button
        class="button"
        matTooltip="{{ 'imgCropper.zoomIn' | translate }}"
        color="primary"
        (click)="zoomIn()"
      >
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button
        mat-raised-button
        class="button"
        matTooltip="{{ 'imgCropper.zoomOut' | translate }}"
        color="primary"
        (click)="zoomOut()"
      >
        <mat-icon>zoom_out</mat-icon>
      </button>
    </div>
    <br />
    <div class="buttonbox pl-05">
      <button
        mat-raised-button
        class="button contain"
        *ngIf="containWithinAspectRatio"
        color="primary"
        (click)="toggleContainWithinAspectRatio()"
      >
        {{ 'imgCropper.fill' | translate }}
      </button>
      <button
        mat-raised-button
        class="button conain"
        *ngIf="!containWithinAspectRatio"
        color="primary"
        (click)="toggleContainWithinAspectRatio()"
      >
        {{ 'imgCropper.contain' | translate }}
      </button>
    </div>
    <br />
    <button
      mat-raised-button
      class="button reset"
      matTooltip="{{ 'imgCropper.resetTooltip' | translate }}"
      color="accent"
      (click)="resetImage()"
    >
      {{ 'imgCropper.reset' | translate }}
    </button>

    <div>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="256"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [alignImage]="'left'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid #CC0000' : 'none'" />
    <a
      class="save"
      matTooltip="{{ 'imgCropper.download' | translate }}"
      *ngIf="croppedImage"
      [href]="croppedImage"
      download
      ><mat-icon> save_alt </mat-icon></a
    >
  </mat-card>
  <mat-card *ngIf="help" class="help-card pt-1">
    <mat-card-title>{{ 'imgCropper.help' | translate }}</mat-card-title>
    <button
      class="language"
      color="primary"
      mat-icon-button
      matTooltip="{{ 'imgCropper.close' | translate }}"
      (click)="sendHelp()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>
</div>
