
.start-card {
  margin: 1rem;
  width: 31rem;
  height: 50rem;
  float: left;
}

.help-card {
  margin: 1rem;
  margin-left: 36rem;
  width: 31rem;
  height: 50rem;
}

.language{
  float: right;
  margin-top: -2.65rem;
  margin-right: -0.5rem;
}

.help{
    float: right;
    margin-top: -2.65rem;
    margin-right: 1.25rem;
}

.button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #ffffff;
}


form {
  display: inline;
}

.label {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background: #8b8282;
  color: #ffffff;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.5rem !important;
  margin-left: 0rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #8b8282 !important;
}

.mat-form-field{
  width: 9.45rem !important;  
  font-size: 12px;
  padding-top: 0.5rem;
  padding-left: 0.25rem;

}

.save{
  margin-top: -1.5rem !important;
  color: #8b8282;
  font-size: 24px;
}

.reset{
  float: right;
  margin-top: 0.6rem;
}

.contain{
  width: 214.68px;
}

.buttonbox{
  margin: auto;
  width: 50%;
}

.rotationButton{
  padding: 0.5rem;
  height: 36px;

}

