@import "~@angular/material/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

// #CC0000
$mat-fuji-red: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  ),
);

// #8b8282
$mat-fuji-grey: (
  50 : #f1f0f0,
    100 : #dcdada,
    200 : #c5c1c1,
    300 : #aea8a8,
    400 : #9c9595,
    500 : #8b8282,
    600 : #837a7a,
    700 : #786f6f,
    800 : #6e6565,
    900 : #5b5252,
    A100 : #fbc8c8,
    A200 : #f89999,
    A400 : #ff5e5e,
    A700 : #ff4545,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
  ),
);

// mandatory stuff for theming
$mat-fuji-palette-primary: mat-palette($mat-fuji-red);
$mat-fuji-palette-accent: mat-palette($mat-fuji-grey);

// include the custom theme components into a theme object
$mat-fuji-theme: mat-light-theme(
  $mat-fuji-palette-primary,
  $mat-fuji-palette-accent
);

// include the custom theme object into the angular material theme
@include angular-material-theme($mat-fuji-theme);
